/*
 * @Author: chenyuanguang
 * @Date: 2020-08-11 11:18:44
 * @LastEditTime: 2020-08-17 18:45:43
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: /react-router-redux-auto/.babelrc.js
 */
{
    "presets": [
        "@babel/env",
        "@babel/react",
        "@babel/preset-typescript" // 让babel支持ts
    ],
    "plugins": [
        // "@babel/plugin-transform-runtime",
        // "syntax-dynamic-import",
        // "transform-object-rest-spread",
        "transform-react-jsx",
        [
            "import",
            {
                "libraryName": "antd-mobile",
                "style": true
            }
        ]
    ]
}
