/*
 * @Author: chenyuanguang
 * @Date: 2020-08-11 11:18:44
 * @LastEditTime: 2020-08-11 17:34:50
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: /react-router-redux-auto/.babelrc.js
 */
{
    "presets": ["@babel/env", "@babel/react"],
    "plugins": [
        // "@babel/plugin-transform-runtime",
        // "syntax-dynamic-import",
        // "transform-object-rest-spread",
        "transform-react-jsx",
        [
            "import",
            {
                "libraryName": "antd-mobile",
                "style": true
            }
        ]
    ]
}
